<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link rel="stylesheet" type="text/css" href="../static/css/materialize.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../static/css/materialize.min.css" media="all" />
</head>
<body>
jancok!!!
<a  class="waves-effect waves-light btn" href="/authenticate">pencet</a>
<script src="../static/js/materialize.js"></script>
<script src="../static/js/materialize.min.js"></script>
</body>
</html>